<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Site</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body class="bg-slate-100">
    <div class="flex-column justify-space-around">
      <header class="flex justify-between items-center p-5 bg-slate-200">
        <h1>
          <a class="text-4xl font-bold" href="/">Blog Site</a>
        </h1>
        <nav>
          <!-- Conditionally render login or logout links -->
          {{#if logged_in}}
            <a
              class="border border-2 font-bold border-slate-500 rounded-md bg-slate-400 p-2 text-slate-800"
              href="/profile"
            >profile</a>
            |
            <button
              class="border border-2 font-bold border-slate-500 rounded-md bg-slate-400 p-2 text-slate-800"
              id="logout"
            >logout</button>
          {{else}}
            <a
              class="border border-2 font-bold border-slate-500 rounded-md bg-slate-400 p-2 text-slate-800"
              href="/login"
            >login</a>
          {{/if}}
        </nav>
      </header>
      <main class="w-8/12 mt-5 mx-auto">
        <!-- Render the sub layout -->
        {{{body}}}
      </main>
      <footer>

      </footer>
    </div>

    <!-- Render script for logged in users only -->
    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>