<div class="row">
    <h2 class="font-bold text-2xl">Welcome, {{username}}!</h2>
</div>

<div class="mt-4">
  <div class="mb-5">
    <h3 class="text-center font-bold text-xl mb-1">Create a New Blog</h3>

    <form class="form newBlogForm">
      <div class="flex items-center gap-2">
        <label for="blogTitle">Blog Title:</label>
        <input class="w-full p-2 my-2 bg-slate-0 rounded-md border-2 focus:outline-none" type="text" id="blogTitle" name="blogTitle" />
      </div>
      <div class="flex items-center gap-2">
        <label for="blogContent">Content:</label>
        <textarea class="w-full p-2 my-2 bg-slate-0 rounded-md border-2 focus:outline-none" id="blogContent" name="blogContent"></textarea>
      </div>
      <div class="flex justify-center items-center">
        <button type="submit" class="mt-2 border border-2 font-bold border-slate-500 rounded-md bg-slate-400 p-2 text-slate-800">Create New Blog</button>
      </div>
    </form>
  </div>

  {{#if blogs.length}}
  <div class="col-md-6 blogList">
    <h3 class="font-bold text-xl mb-3">Current Blogs:</h3>

    {{#each blogs as |blog|}}
    <div class="row mb-2">
      <div class="flex justify-between items-center border border-2 rounded-md p-2 border-slate-600">
        <h4 class="font-bold text-lg"><a href="/blog/{{blog.id}}">{{blog.title}}</a></h4>
        <button class="border border-2 font-bold text-sm border-slate-500 rounded-md bg-slate-400 p-2 text-slate-800" data-id="{{blog.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
